<tr>
    <td>
        <p class="text-muted"><%= time_ago_in_words(order.created_at) %> ago</p>
        <strong class="text-primary"><%= order.customer.name %></strong>
        from <%= order.customer.city %>
        bought <%= pluralize(order.quantity, order.product.name) %>
    </td>
</tr>
